body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

main {
    max-width: 800px;
    padding: 10px 15px;
    position: relative;
    width: 100%;
}

.blog-date {
    color: #999;
    font-size: 95%;
}

.blog-body {
    color: #333;
    line-height: 1.5;
}

.blog-footer {
    margin-top: 25px;
}

.blog-tags-header {
    margin-bottom: 10px;
}

.blog-tags {
    display: flex;
    flex-wrap: wrap;
}

.blog-tag {
    display: block;
    height: 30px;
    padding: 0 10px;
    margin: 0 10px 10px 0;
    color: #fff;
    font-size: 90%;
    line-height: 30px;
    background-color: #f00;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity .2s ease-in-out;
    white-space: nowrap;
}

.blog-tag:hover {
    opacity: 0.75;
}

.comment-box {
    margin-top: 30px;
}

.comment-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.comment-control {
    display: flex;
    justify-content: flex-end;
}

.comment-toggle {
    background: none;
    border: 0;
    color: #0270c9;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: -10px;
    outline: none;
    padding: 0;
    padding-right: 12px;
    position: relative;
    text-decoration: none;
    transition: .1s linear;
    white-space: nowrap;
}

.comment-toggle::after {
    border-bottom: 1px dashed #0270c9;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 12px;
}

.comment-toggle::before {
    bottom: 5px;
    content: '>';
    display: block;
    font-size: 14px;
    line-height: 1;
    position: absolute;
    right: 0;
    transition: .1s linear;
}

.comment-toggle.__active::before {
    transform: rotate(90deg);
}

.comment-toggle:hover::after {
    border-bottom: 1px solid #0270c9;
}

.comment-header {
}

.comment-count {
    font-size: 95%;
    opacity: 0.75;
}

.comment {
    background-color: #f8f8f8;
    margin-bottom: 20px;
    padding: 15px 30px;
    position: relative;
}

.comment-author {
    border-bottom: solid 2px #eee;
    font-weight: bold;
    padding-bottom: 15px;
}

.comment-body {
    font-size: 95%;
    line-height: 1.5;
}

.comment-footer {
    top: 0;
    right: 0;
    position: absolute;
}

a.comment-footer-delete,
a.comment-footer-delete:visited,
a.comment-footer-delete:focus,
a.comment-footer-delete:active {
    color: #777;
    display: inline-block;
    font-size: 150%;
    padding: 6px 12px 4px;
    text-decoration: none;
}

a.comment-footer-delete:hover {
    color: #f00;
}

.comment-form {
    background-color: #f8f8f8;
    padding: 10px 30px 30px;
}

.comment-form-author {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    margin-bottom: 20px;
    outline: 0;
    padding: 0 15px;
    width: 50%;
}

.comment-form-body {
    border: 1px solid #ccc;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    min-height: 42px;
    outline: 0;
    overflow: hidden;
    padding: 8px 15px;
    resize: none;
    width: 100%;
}

.comment-form-submit {
    background-color: #ffc600;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    line-height: 1;
    outline: 0;
    padding: 0 30px;
    transition: .2s ease-in-out;
}

.comment-form-submit:hover {
    box-shadow: 0 5px 18px 2px rgba(255, 198, 0, 0.2);
}
