body {
    font-family: Arial, sans-serif;
}

.date {
    color: darkgrey;
}

.comment-box {
    background-color: teal;
    color: white;
    margin-top: 20px;
    padding: 10px 40px 20px 40px;
    width: 500px;
}

.comment-header {
    color: lightyellow;
    text-transform: uppercase;
}

.comment-count {
    opacity: 0.75;
}
